.sidenav {
  flex: 1;
  flex-basis: 18%; }
  .sidenav .sidenavbar {
    padding-top: 2rem;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #f1f1f1; }
    .sidenav .sidenavbar a {
      display: block;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      text-decoration: none;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      color: #EB5323; }
      .sidenav .sidenavbar a.active, .sidenav .sidenavbar a:hover {
        background-color: #EB5323;
        color: #ffffff;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff; }
